/*Gallery items*/


.gallery{
  width: 70%;
  margin: 150px auto 20px;
}

.envira-gallery-item {
  margin: 200px !important;
}
#envira-gallery-wrap-47{
  margin: 20px !important;
}

.navigation-outer{
  /*width: 30%;*/
}